/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-snack-bar-container {
  max-width: 60vw !important;
  margin-top: 12% !important;
}

.snackBarInfo {
  background-color: #272727;
  color: #fff;
}

@media (max-width: 500px) {
  .mat-snack-bar-container {
    max-width: 100vw !important;
    margin-top: 20% !important;
  }
}
