<h2>Register</h2>

<div class="register">
  <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
    <div flexLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Jane Doe" formControlName="fullName" />
        <mat-icon matSuffix>face</mat-icon>
        <mat-hint>Enter First and Last Name</mat-hint>
      </mat-form-field>
    </div>
    <div flexLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          placeholder="janeDoe@email.com"
          formControlName="email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div flexLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>

        <input matInput type="password" formControlName="password" />

        <mat-icon matSuffix>https</mat-icon>
        <mat-hint>Min 8 characters.</mat-hint>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <div class="registerBtns">
      <button
        type="submit"
        [disabled]="registerForm.invalid"
        mat-raised-button
        color="primary"
        class="btn"
      >
        Register
      </button>

      <button
        type="button"
        class="btn"
        (click)="cancelAction()"
        mat-flat-button
        color="warn"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
