<footer>
  <div class="link-1 link">
    <a
      href="https://github.com/meloroger/MDCanna-Serverside"
      class="link"
      target="blank"
    >
      <img src="../../../assets/github.png" alt="repo" />
      <p class="link-text">meloroger/MDCanna-Serverside</p>
    </a>
  </div>
  <div>
    &copy;MD CANNA 2019
  </div>
  <div class="link-2">
    <a
      href="https://github.com/meloroger/MD-Canna-CLient-Rebuild"
      class="link"
      target="blank"
    >
      <img src="../../../assets/github.png" alt="repo" />
      <p class="link-text">meloroger/MD-Canna-CLient-Rebuild</p>
    </a>
  </div>
</footer>
