<div class="sideNav-list">
  <a [routerLink]="['dashboard']" routerLinkActive="active">
    Dashboard
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['items']" routerLinkActive="active">
    Items
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['orders']" routerLinkActive="active">
    Orders
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['stock']" routerLinkActive="active">
    Stock
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['employees']" routerLinkActive="active">
    Employees
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['profile']" routerLinkActive="active">
    Profile
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['live-feed']" routerLinkActive="active">
    Live Feed
  </a>
</div>
