:host {
  padding: 1rem;
  background-color: rgb(54, 53, 47);
}

.sideNav-list {
  font-size: 100%;
  font-family: cursive;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ccc;
}

.active {
  font-size: 105%;
  font-style: italic;
  color: #fff;
}
