<div class="sideNav-list">
  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
    Dashboard
    <mat-icon>fast_forward</mat-icon>
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['/items']" routerLinkActive="router-link-active">
    Items
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['/orders']" routerLinkActive="router-link-active">
    Orders
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['/stock']" routerLinkActive="router-link-active">
    Stock
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['/employees']" routerLinkActive="router-link-active">
    Employees
  </a>
</div>
<div class="sideNav-list">
  <a [routerLink]="['/profile']" routerLinkActive="router-link-active">
    Profile
  </a>
</div>
