.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-family: cursive;
}

.info {
  text-align: center;
  padding-bottom: 1rem;
  font-family: inherit;
}

img {
  width: 80%;
}

button {
  top: -25px;
}
