<div class="pimg1">
  <div class="ptext">
    <span class="border trans">Asus Duo</span>
  </div>
</div>

<section class="section section-light">
  <h2>About This Project</h2>
  <p>
    I built a full stack web application starting from front end, all the way to
    the database. The stack I'm using is: <strong>Angular 8/Cli</strong> (Front
    end), <strong> Nest.js/Cli</strong> (Client server),
    <strong>Java/Spring</strong> with Redis Db for Session storage (Worker
    server), <strong>Mongo Db </strong>for long-term persistance.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">Surface Neo</span>
  </div>
</div>

<section class="section section-dark">
  <h2>Section Two</h2>
  <p>
    Lorem ipsum dolor sit ametconsectetur adipisicing elit.Obcaecati aperiam
    alias ea dignissimospossimus recusandae a voluptasaspernatur laboriosam,
  </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">Macbook Pro</span>
  </div>
</div>

<section class="section section-light">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit ametconsectetur adipisicing elit.Obcaecati aperiam
    alias ea dignissimospossimus recusandae a voluptasaspernatur laboriosam,
    ipsamquibusdam! Alias, est at rationedignissimos accusantium
  </p>
</section>

<div class="pimg4 footer">
  <div class="ptext">
    <span class="border trans">Xioami Alpha</span>
  </div>
</div>
