<div class="pimg1">
  <div class="ptext">
    <span class="border trans">Asus Duo</span>
  </div>
</div>

<section class="section section-light">
  <h2>About This Project</h2>
  <p>
    I built a full stack web application starting from front to back. The stack
    I'm using is: <strong>Angular 8/Cli</strong> (Front end),<!--  <strong> Nest.js/Cli</strong> (Client server), -->
    <strong> Java/Spring</strong> (Worker server), <strong>Mongo Db </strong>for
    long-term persistance.
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">Surface Neo</span>
  </div>
</div>

<section class="section section-dark">
  <h2>Programmer's Passion</h2>
  <p>
    I love the challenges that developing software provides. It fills a hole in
    my soul that makes me feel complete when I find that bug or figure out that
    problem.
  </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">Macbook Pro</span>
  </div>
</div>

<section class="section section-light">
  <h2>Full Stack</h2>
  <p>
    I consider myself full stack even though and I have no problem admitting it,
    design is not my forté. I love working with Java and a front end framework
    like Angular. I enjoy writing Typescript because it reminds me of Java.
  </p>
</section>

<div class="pimg4 footer">
  <div class="ptext">
    <span class="border trans">Xioami Alpha</span>
  </div>
</div>
