<ng-container *ngIf="stockMovements$ | async as stocks">
  <mat-card>
    <mat-card-title>Stock Movement List</mat-card-title>
    <div class="topFilterBtn">
      <div class="btn">
        <button mat-raised-button color="primary" (click)="createHandler()">
          Create
        </button>
      </div>
      <div class="filter">
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search..."
          />
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <table class="stocks">
      <thead>
        <tr>
          <th class="row-1 row-ID">
            <div class="thText">
              ID
            </div>
          </th>
          <th class="row-2 row-orders">
            <div class="thText">
              Orders
            </div>
          </th>
          <th class="row-3 row-itemId">
            <div class="thText">
              Item Id
            </div>
          </th>
          <th class="row-4 row-quantity">
            <div class="thText">
              Quantity
            </div>
          </th>
          <th class="row-5 row-icon"></th>
        </tr>
      </thead>
      <tbody *ngFor="let stock of stocks">
        <tr>
          <td class="stockId">
            {{ stock.id }}
          </td>
          <td class="orders">
            <a (click)="showOrdersHandler(stock)">
              <mat-icon matSuffix>view_list</mat-icon>
            </a>
          </td>
          <td class="itemId">{{ stock.itemId }}</td>
          <td class="quantity">{{ stock.quantity }}</td>
          <td class="icons">
            <div class="iconsBttm">
              <div>
                <a (click)="editHandler(stock)">
                  <mat-icon matSuffix>input</mat-icon>
                </a>
              </div>
              <div class="deleteIcon">
                <a (click)="deleteHandler(stock.id)">
                  <mat-icon matSuffix>delete_outline</mat-icon>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator></mat-paginator>
  </mat-card>
</ng-container>
