<div class="pimg1">
  <div class="ptext">
    <span class="border">Parallax Website</span>
  </div>
</div>

<section class="section section-light">
  <h2>Section One</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam
    alias ea dignissimos possimus recusandae a voluptas aspernatur laboriosam,
    ipsam quibusdam! Alias, est at ratione dignissimos accusantium magnam
    voluptatibus soluta iure, saepe ad, vero consequatur quia. Aliquid libero
    magnam neque asperiores, obcaecati ab sed recusandae labore quas ipsa,
    consequuntur aut qui vel perferendis. Qui impedit quaerat dignissimos, esse
    blanditiis praesentium, eligendi expedita consectetur officiis atque,
    corrupti ex architecto? Itaque cum maiores quo ullam facilis magnam libero
    odit. Minus deleniti voluptates corrupti ab, fugiat sapiente a sit iste
    temporibus iusto. Laboriosam explicabo cumque dicta dolorem. Minus illum
    harum minima distinctio expedita?
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">Image Two Text</span>
  </div>
</div>

<section class="section section-dark">
  <h2>Section Two</h2>
  <p>
    Lorem ipsum dolor sit ametconsectetur adipisicing elit.Obcaecati aperiam
    alias ea dignissimospossimus recusandae a voluptasaspernatur laboriosam,
    ipsamquibusdam! Alias, est at rationedignissimos accusantium
    magnamvoluptatibus soluta iure, saepe ad,vero consequatur quia. Aliquid
    liberomagnam neque asperiores, obcaecati absed recusandae labore quas
    ipsa,consequuntur aut qui vel perferendis.Qui impedit quaerat dignissimos,
    esseblanditiis praesentium, eligendiexpedita consectetur officiis
    atque,corrupti ex architecto? Itaque cummaiores quo ullam facilis
    magnamlibero odit.
  </p>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">Image Three Text</span>
  </div>
</div>

<section class="section section-light">
  <h2>Section Three</h2>
  <p>
    Lorem ipsum dolor sit ametconsectetur adipisicing elit.Obcaecati aperiam
    alias ea dignissimospossimus recusandae a voluptasaspernatur laboriosam,
    ipsamquibusdam! Alias, est at rationedignissimos accusantium
    magnamvoluptatibus soluta iure, saepe ad,vero consequatur quia. Aliquid
    liberomagnam neque asperiores, obcaecati absed recusandae labore quas
    ipsa,consequuntur aut qui vel perferendis.Qui impedit quaerat dignissimos,
    esseblanditiis praesentium, eligendiexpedita consectetur officiis
    atque,corrupti ex architecto? Itaque cummaiores quo ullam facilis
    magnamlibero odit.
  </p>
</section>

<div class="pimg4 footer">
  <div class="ptext">
    <span class="border">Parallax Website</span>
  </div>
</div>
