<ng-container *ngIf="orderVM$ | async as vm">
  <mat-card>
    <mat-card-title>Order List</mat-card-title>
    <div class="topFilterBtn">
      <div class="btn">
        <button mat-raised-button color="primary" (click)="createHandler()">
          Create
        </button>
      </div>
      <div class="filter">
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search..."
          />
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="vm.loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <mat-divider></mat-divider>
    <p class="info">
      **You can create, edit, delete and list all stock movements used to
      complete order**
    </p>
    <table class="orders">
      <thead>
        <tr>
          <th class="row-1 row-ID">
            <div class="thText">
              ID
            </div>
          </th>
          <th class="row-2 row-stocks">
            <div class="thText">
              Stock Mvnts
            </div>
          </th>
          <th class="row-3 row-itemId">
            <div class="thText">
              Item ID
            </div>
          </th>
          <th class="row-4 row-quantity">
            <div class="thText">
              Quantity
            </div>
          </th>
          <th class="row-5 row-userId">
            <div class="thText">
              User ID
            </div>
          </th>
          <th class="row-6 row-complete">
            <div class="thText">
              Completed
            </div>
          </th>
          <th class="row-7 row-complete"></th>
        </tr>
      </thead>
      <tbody *ngFor="let order of vm.orders">
        <tr>
          <td class="orderId">{{ order.id }}</td>
          <td class="stocks">
            <a (click)="showStockMovements(order)">
              <mat-icon>view_list</mat-icon>
            </a>
          </td>
          <td class="itemId">{{ order.itemId }}</td>
          <td class="quantity">{{ order.quantity }}</td>
          <td class="userId">{{ order.userId }}</td>
          <td class="complete">{{ order.complete }}</td>
          <td class="icons">
            <div class="iconsBttm">
              <div>
                <a (click)="editHandler(order)">
                  <mat-icon matSuffix>input</mat-icon>
                </a>
              </div>
              <div class="deleteIcon">
                <a (click)="deleteHandler(order.id)">
                  <mat-icon matSuffix>delete_outline</mat-icon>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator></mat-paginator>
  </mat-card>
</ng-container>
