<h2>Edit Stock Movement</h2>
<ng-container *ngIf="vm$ | async as vm">
  <div class="register">
    <form [formGroup]="editForm" (ngSubmit)="submitEdit()">
      <div flexLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input
            matInput
            value="{{ vm.selectedStock.id }}"
            formControlName="id"
          />
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Item ID</mat-label>
          <!-- <input matInput value="{{ vm.selectedStock.id }}" formControlName="id" /> -->
          <mat-select formControlName="itemId">
            <mat-option *ngFor="let item of vm.items" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            value="{{ vm.selectedStock.quantity }}"
            formControlName="quantity"
          />
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <div class="registerBtns">
        <button
          type="submit"
          [disabled]="editForm.invalid"
          mat-raised-button
          color="primary"
          class="btn"
        >
          Submit
        </button>

        <button
          type="button"
          class="btn"
          (click)="cancelAction()"
          mat-flat-button
          color="warn"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-container>
