.mat-form-field {
  width: 100%;
}

.loginBtns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.btn {
  width: 40%;
}

.info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  text-align: center;
  font-size: 50%;
}

@media (max-width: 500px) {
  .info {
    font-size: 15px;
  }
}
