<h2>Login</h2>
<p class="info">
  **Please check your e-mail after the register process**
</p>
<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <div flexLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
  <div flexLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-icon matSuffix>https</mat-icon>
    </mat-form-field>
  </div>
  <p class="info">
    **For best mobile experience, use <strong>landscape</strong>**
  </p>
  <mat-divider></mat-divider>
  <div class="loginBtns">
    <button
      type="submit"
      class="btn"
      [disabled]="loginForm.invalid"
      mat-raised-button
      color="primary"
    >
      Login
    </button>
    <button
      type="button"
      class="btn"
      (click)="cancelAction()"
      mat-flat-button
      color="warn"
    >
      Cancel
    </button>
  </div>
</form>
