<mat-toolbar color="primary">
  <ng-container *ngIf="loggedIn()">
    <div class="toggle">
      <a (click)="showMenu()">
        <mat-icon>fingerprint</mat-icon>
      </a>
    </div>
  </ng-container>
  <a [routerLink]="['/']">
    MD CANNA SUPPLY
  </a>
  <span class="spacer"></span>
  <ng-container *ngIf="!loggedIn()">
    <a (click)="registerHandler()">
      <span class="topNav">
        Register
      </span>
    </a>
  </ng-container>
  <ng-container *ngIf="!loggedIn()">
    <a (click)="loginHandler()">
      <span class="topNav">
        Login
      </span>
    </a>
  </ng-container>
  <ng-container *ngIf="loggedIn()">
    <div class="topNav">Welcome {{ getUserName() }} |</div>
    <a (click)="logoutHandler()">
      <span class="topNav">
        Logout
      </span>
    </a>
  </ng-container>
</mat-toolbar>
