.mat-toolbar {
  background: black;
  font-family: cursive;
}

.spacer {
  flex: auto;
}

.topNav {
  font-size: 15px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.toggle {
  margin-top: 7px;
  padding-right: 15px;
}
