<ng-container *ngIf="itemVM$ | async as vm">
  <mat-card>
    <mat-card-title>Item List</mat-card-title>
    <div class="topFilterBtn">
      <div class="btn">
        <button mat-raised-button (click)="createHandler()">
          Create
        </button>
      </div>
      <div class="filter">
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search..."
          />
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="vm.loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <mat-divider></mat-divider>
    <table class="items">
      <thead>
        <tr>
          <th class="row-1 row-ID">
            <div class="thText">
              ID
            </div>
          </th>
          <th class="row-2 row-name">
            <div class="thText">
              Name
            </div>
          </th>
          <th class="row-3 row-icon"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of vm.items">
        <tr>
          <td class="itemId">
            {{ item.id }}
          </td>
          <td class="itemName">{{ item.name }}</td>
          <td class="icons">
            <div class="iconsBttm">
              <div>
                <a (click)="editHandler(item)">
                  <mat-icon matSuffix>input</mat-icon>
                </a>
              </div>
              <div class="deleteIcon">
                <a (click)="deleteHandler(item.id)">
                  <mat-icon matSuffix>delete_outline</mat-icon>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator></mat-paginator>
  </mat-card>
</ng-container>
