.order-form {
  max-width: 80vh;
}

.form-style {
  display: block !important;
}

.mat-form-field {
  width: 100%;
}

.registerBtns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.btn {
  width: 40%;
}
